<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'add_stock' %}" method='post'>
        {% csrf_token %}
        <label for="milk">Add milk</label>
        <input type="text" id='milk' name="milk" >
        <label for="tea">Add milk</label>
        <input type="text" id='tea' name="tea" >
        <input type="submit" value='ADD' >
    </form>
</body>
</html>