<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            border: 1px solid black;
            height: 40vh;
            width: 300px;
            padding-left: 10px;
            margin:auto;
        }

    </style>
</head>
<body>
    <div >
    <h3>RAMU KAKA CHAI BANDI </h3>
    <form action="{% url 'show_stall' %}" method="post">
        {% csrf_token %}
        <input type="submit" name="regular_tea" value="Regular Tea - 15.00 /-">
        <input type="submit" name="black_tea" value="Black Tea - 10.00 /-">
    </form>
    <h4>Stocks:</h4>
    <p>milk = {{milk_l}} litres - {{milk_ml}} ml </p>
    <p>tea = {{tea_l}} kg - {{tea_ml}} mg </p>
    <p>{{total}}</p>
    <a href="{% url 'show_earnings' %}">show_earnings</a>
    <a href="{% url 'add_stock' %}">Add Stock</a>
    </div>
</body>
</html>