<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'edit_todo' todo.id %}" method="post">
        {% csrf_token %}
        <input type="text" value = '{{todo.task}}', name="task">
        <input type="text" value = '{{todo.priority}}', name="priority">
        <input type="date" value="{{todo.priority}}" name = 'date'>
        <input type="submit" value="UPDATE">
    </form>
    
</body>
</html>