<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        td {
            width: 10vw;
            height: 3ex;
          }
        </style>
    <title>Document</title>
</head>
<body>
    <h3>TO - DO</h3>
    <ul>
        {% for task_ in todo_list %}
        <table>
        {% if task_.priority == 'High' %}
        <tr>
        <td><li style="color: red;">{{task_.task}}</li></td>
        <td style="color: red;">{{task_.due_date}}</td>
        <td><a href="{% url 'edit_todo' task_.id %}">Edit</a></td>
        <td><a href="{% url 'delete_todo' task_.id %}">Delete</a></td>
        </tr>
        {% elif task_.priority == 'Medium' %}
        <tr>
        <td><li style="color:black;">{{task_.task}}</li></td>
        <td style="color:black;">{{task_.due_date}}</td>
        <td><a href="{% url 'edit_todo' task_.id %}">Edit</a></td>
        <td><a href="{% url 'delete_todo' task_.id %}">Delete</a></td>
        </tr>
        {% elif task_.priority == 'Low' %}
        <tr>
        <td><li style="color: blue;">{{task_.task}}</li></td>
        <td style="color: blue;">{{task_.due_date}}</td>
        <td><a href="{% url 'edit_todo' task_.id %}">Edit</a></td>
        <td><a href="{% url 'delete_todo' task_.id %}">Delete</a></td>
        </tr>
        {% endif %}
        </table>
        {% endfor %}
    </ul>
    <a href="{% url 'add_todo' %}">ADD</a>
</body>
</html>