<!DOCTYPE html>
<html>
    <body>
        <h1>Student List</h1>
        <ul>
        {% for student in students %}
            <li><a href="{% url 'student_detail' student.id %}">{{student}}</a></li>
        {% endfor %}
        </ul>
        <a href="{% url 'add_student' %}">ADD STUDENT</a>
    </body>
</html>